#appContainer {

    -fx-background-color: linear-gradient(to bottom, #464646, #5f5f5f);
}


#buttonMenuContainer {

    -fx-background-color: #282222;
    -fx-padding: 10px;
}

#divider1, #divider2{

    -fx-background-color: #FFFFFF;
}


#topLayoutContainer {

    -fx-background-color: #322B2B;
}


#appTitle {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: verdana;
    -fx-font-size: 24px;
}


#titleBox {

    -fx-padding: 10px 0 0 15px;
}


#gridPane_Example1 {

    -fx-border-color: #ffffff;
    -fx-border-width: 1px;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-background-color: linear-gradient(to bottom, #b5bcc6, #dee3e4);
    -fx-padding: 15;

}


#exContainer {

    -fx-padding: 10px;
}

/**
 * First Name TextField.
 */
#txtFirstName {

    -fx-border-color: #939393;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: linear-gradient(to bottom, #cccccc, #f2f2f2);
}


#txtFirstName:focused {

    -fx-border-color: linear-gradient(to left, #ff0000, #7d1e15);
}

/**
 * The hover effect.
 */
#txtFirstName:hover {

    -fx-border-color: linear-gradient(to left, #ffca45, #f8a70f);
}


#txtFirstName:focused:hover {

    -fx-border-color: linear-gradient(to left, #ff0000, #7d1e15);
}

Label {
    
    -fx-font-size: 12px;
    -fx-font-weight: lighter;
}
	