.text-input {

	-fx-text-fill : #EFE9E9;

}

.table-view {

	-fx-base: transparent;
	-fx-background-color: #141212;
}

.table-view .column-header .label {

	-fx-text-fill: white;
	-fx-font-weight: bold;
}

#title {

	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-family: verdana;
	-fx-font-size: 20px;
}

#Box {

	-fx-background-color: #322B2B;
}

#Box2 {

	-fx-background-color: #322B2B;
}
